@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
.bg-1 { 
    background-color: #18BC9C;
    color: #ffffff;
}

.row {
	margin-bottom: 30px;
}

.fluid-padding {
    padding-top: 90px;
    padding-bottom: 90px;
}
.container-padding {
    padding-top: 85px;
    padding-bottom: 85px;
}

/*.button-outline: {
	background-color: none;
	border: 2px solid white; 
}*/

.bg-footer { 
    background-color: #2C3E50;
    color: #ffffff;
}    

.bg-copyright { 
    background-color: #233140;
    color: #ffffff;
    padding: 20px;
}

.body {
	font-family: 'Montserrat', sans-serif !important;
}

.navbar {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    font-size: 12px !important;
    background-color: #2C3E50 !important;
    color: #fff !important;
}

.glyphicon {
	font-size: 30px;
}

.glyphicon-download-alt {
	font-size: 20px;
}

h1 h2 h3 h4{
	font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
	font-size: 28px !important;
	color: #fff !important;
}

.navbar-nav > li > a {
	font-size: 14px !important;
	color: #fff !important;

}

.navbar-default {
	font-size: 14px !important;
	color: #fff !important;
}

.star-padding {
	padding: 18px 0px 20px 0px;
}

.form-control {
	background-color: red;
	margin: 30px 0px 30px 0px !important;
	padding-top: 20px !important;
	border-radius: 0px !important;
	border-top-width: 1px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;  
	border-right-width: 0px !important;  
	font-size: 18px !important;
}

.btn-success {
	background-color: #18BC9C !important;

}

.send-padding {
	border-top: 1px solid #CCCCCC; 
	padding-top: 20px;
	margin-top: 100px;
}

.btn-info {
	background-color: #18BC9C !important;
	border-width: 2px !important;
	border-color: white !important;
	margin: 30px;

}


.row-margin {
	margin-bottom: 0px !important;
	padding: 40px;
}

.star-row-about {
	margin-top: 10px;
	margin-bottom: 20px;
}

.star-row {

}

hr {
	width: 100px;
	border-top: 5px solid white !important;
	display: inline-block;
	margin-bottom: 12px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.hr-black {
	color: #000000 !important;
	border-top: 5px solid #333333 !important;
}

.fa {
	margin: 10px;
}